@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-center">Logind</h1>

<div>
    <div class="row mb-3">
        <label class="form-label">User Name</label>
        <input class="input py-1" placeholder="User Name" @Bind="UserName"/>
    </div>
    <div class="row mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="input py-1" placeholder="Password" @Bind="UserName" />
    </div>
</div>