@page "/Navigation"
<div style="height:98vh;width:100%">
    <h3>Navigation</h3>
    <div id="map" style="height:100%;width:100%;">
    </div>
</div>
@*https://developers.google.com/maps/documentation*@